*{
    margin: 0;
    padding: 0;
}
.navbar-nav{
    margin: 0 auto;
    text-align: center;
    gap: 50px;
}
.logo{
    margin-left: 70px;
    width: 70px;
    
}
.downNow{
    margin-right: 80px;
    color: white;
    background-color:#6D1830;
    border: 0;
    width: 15%;
    padding: 15px;
    border-radius: 5px;
}

#aboutViewE{
    background-color: #14394C;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;}


.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .icon {
    height: 36px;
    width: 36px;
  }
  
  .txttest {
    margin: 9px;
    font-size: 14px;
    opacity: 0.7;
  }
  .realEstate{
    border: 1px solid #D7D1CA;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 90px;
  }
  .nttx{
    padding: 15px;
    text-decoration: none;
    color: #1D2433;
  }



.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .icon {
    height: 56px;
    width: 56px;
  }
  
  .txttest {
    margin: 9px;
    font-size: 14px;
  }
#newLetter{
    margin-top: 90px;
    background-color: #6D1830;
    color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 50px;
}
.newInput{
    width: 70%;
    margin-right: 9px;
    padding: 7px;
    border-radius: 6px;
    border: 0px;

}
.btnInput{
    padding: 6px;
    border-radius: 6px;
    border: 0px;
}
.btnInput a{
    text-decoration: none;
    color: #6D1830;
    padding: 15px;
}
.footerMenu{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    margin-left: -30px;
}
.footerMenu li{
   list-style: none;

    
}
.footerMenu a{
    text-decoration: none;
    color: black;
    
}
.footerMenu{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    margin-left: -30px;
}
.footerMenu li{
   list-style: none;

    
}
.footerMenu a{
    text-decoration: none;
    color: black;
    
}
.previous{
    margin-top: 50px;
    margin-left: 190px;
}


